
$top-row-height: 222;
$dropdown-width: 300;
$dropdown-height: 35;
$component-color:#c0e6ff;
$component-padding:20;
$calendar-component-width: 700;

*:focus {outline:none !important;}

// Get rid of this
*{
    font-family:"helvetica";
}

.calendar-component-wrapper{
    display: flex;
    align-self: flex-end;
    justify-content: space-end;
    position:relative;

    .calendar-dropdown{
        cursor:pointer;
        background-color: white;
        width: $dropdown-width - $component-padding;
        padding: 0 $component-padding;
        height: $dropdown-height;
        display: flex;
        justify-content: space-between;
        align-items:center;
        .entypo-down-open-big{
            font-size:22px;
            left:$dropdown-width;
        }
    }

    .calendar-component{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        width: $calendar-component-width;
        position:absolute;
        top: $dropdown-height + 5;
        left:$dropdown-width - $calendar-component-width - $component-padding;

        padding: $component-padding;
        background-color: $component-color;

        &::before{
            $triangle-height:13;
            $triangle-side:10;

            position: absolute;
            top: - $triangle-height;
            left: $calendar-component-width;
            content:'';
            width: 0;
            height: 0;

            border-width: 0 $triangle-side $triangle-height $triangle-side;
            border-style: solid;
            border-color: $component-color transparent;
        }

        .clickable{
            cursor:pointer;
            display:flex;
            justify-content:center;
            align-items:center;
            background-color:white;

            &:hover{
                background-color: rgb(200,200,200);
                color:white;
            }
        }

        .active{
            background-color: black !important;
            color:white !important;
        }

        .calendar-component-left{
            width:470px;
            display:flex;
            flex-direction: column;
            .calendar-component-left-top{
                height:$top-row-height;
                display:flex;
                justify-content: space-between;
                margin-bottom:10px;
           }

           .calendar-component-left-bottom{
                .submit-button{
                    margin:auto;
                    height:30px;
                    width:100px;
                }
           }
        }

        .calendar-component-right{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            height:$top-row-height;

            .button-container{
            display: flex;
            flex-direction: column;
            align-items:center;
            flex:1;
            margin-bottom:10px;
            justify-content: space-between;
                .time-range-button{
                    width:200px;
                    height:35px;
                }
            }
            .date-indicator-container{
                display:flex;
                justify-content: space-between;
                text-align:center;

                .date-indicator{
                    display:flex;
                    flex-direction: column;

                    .date{
                        display: flex;
                        justify-content: center;
                        align-items:center;
                        border: 0;
                        width:90px;
                        height:30px;
                        text-align:center;
                        background-color:white;
                        padding:3px;
                    }
                }
            }
        }


        .date-picker {
            display: flex;
            flex-direction: column;
            flex-flow: column;
            flex: 1 0 auto;
            max-width:230px;

        }
        .date-picker,
        .date-picker * {
            box-sizing: border-box;
        }
        .date-picker .dp-footer {
            flex-direction: row;
            flex-flow: row;
            flex-flow: row;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
        }
        .date-picker .dp-body {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            flex-flow: column;
            flex-flow: column;
            flex: 1;
        }
        .date-picker .dp-table {
            // width: 100%;
            // height: 100%;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            flex-flow: column;
            flex-flow: column;
            flex: 1;
        }
        .date-picker .dp-row {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            flex-flow: row;
            flex-flow: row;
            flex: 1;
        }
        .date-picker .dp-cell {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            flex-pack: center;
            justify-content: center;
            flex: 1;
        }
        .date-picker .dp-nav-table {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            flex-flow: row;
            flex-flow: row;
            flex: 1;
            width: 100%;
        }
        .date-picker .dp-nav-table .dp-cell {
            flex: 7;
        }
        .date-picker .dp-nav-table .dp-nav-cell {
            flex: 1;
        }
        .date-picker {
            overflow: hidden;
            background: #fff;
            font-size: 14px;
            // border: 1px solid #a8a8a8;
        }
        .date-picker .dp-table {
            // border-color: #a8a8a8;
        }
        .date-picker .dp-table .dp-row {
            // border-top: 1px solid #a8a8a8;
        }
        .date-picker .dp-table .dp-row:last-child {
            // border-bottom: 1px solid #a8a8a8;
        }
        .date-picker .dp-table .dp-cell {
            cursor: pointer;
            padding: 5px;
            background: inherit;
        }
        .date-picker .dp-table .dp-cell:not(:first-child) {
            // border-left: 1px solid #a8a8a8;
        }
        .date-picker .dp-table .dp-cell.dp-prev,
        .date-picker .dp-table .dp-cell.dp-next {
            color: #5c5c5c;
            background: inherit;
        }
        .date-picker .dp-table .dp-cell.dp-in-range {
            background: #e2f0ff;
        }
        .date-picker .dp-table .dp-cell:hover {
            color: inherit;
            font-weight: inherit;
            background: #eee;
        }
        .date-picker .dp-table .dp-cell.dp-disabled {
            cursor: default;
            color: #adadad;
            background: inherit;
        }
        .date-picker .dp-table .dp-cell.dp-value {
            color: #000;
            font-weight: bold;
            background: #eee;
        }
        .date-picker .dp-table .dp-cell.dp-current {
            color: #2e99eb;
        }

        .date-picker .dp-table .dp-cell.dp-month {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .date-picker .dp-table .dp-cell.dp-week-day-name {
            font-weight: bold;
            cursor: default;
            background: inherit;
        }
        .date-picker .dp-footer {
            display:none;
            padding: 3px;
            flex-pack: center;
            justify-content: center;
            border-top-width: 0px;
        }
        .date-picker .dp-footer .dp-footer-selected,
        .date-picker .dp-footer .dp-footer-today {
            padding: 5px 15px;
            border-width: 1px;
            cursor: pointer;
        }
        .date-picker .dp-body {
            overflow: hidden;
        }
        .date-picker .dp-nav-view,
        .date-picker .dp-nav-cell,
        .date-picker .dp-week-day-name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            touch-callout: none;
            user-select: none;
        }
        .date-picker .dp-nav-view,
        .date-picker .dp-nav-cell {
            cursor: pointer;
        }
        .date-picker .dp-nav-cell {
            background: inherit;
        }
        .date-picker .dp-nav-cell:hover {
            background: #eee;
        }
        .date-picker .dp-nav-view {
            background: inherit;
        }
        .date-picker .dp-nav-view:hover {
            background: #eee;
        }
        .date-picker .dp-nav-table .dp-cell {
            border-top-width: 0px;
            border-bottom-width: 0px;
            padding: 8px;
            font-weight: bold;
        }
        .date-picker .dp-decade-view,
        .date-picker .dp-year-view,
        .date-picker .dp-month-view {
            touch-callout: none;
            user-select: none;
        }

    }
}