
.annotation-assist {

    @include bounceInUp;
    display:flex;
    flex-direction:column;

    .top-row{
        display:flex;
        justify-content: space-between;
        align-items: flex-end;

        .get-previous{
            margin-bottom: 10px;
            opacity:0;
            &.active{
                cursor: pointer;
                opacity:1;
                color:#c0e6ff;
                transition: opacity 0.5s ease;

                &:hover{
                    opacity:0.5
                }
            }
        }
    }
    .cards {
        width: 75%;
        height: 75%;
        display: flex;
        flex-direction: column;
    }

    .skip-query {
        display:inline-block;
        cursor:pointer;
        color:#c0e6ff;
        margin-top:10px;
        text-decoration: underline;
    }
}
