
.annotation-assist {
    
    @include bounceInUp;
    display:flex;
    flex-direction:column;

    .cards {
        width: 75%;
        height: 75%;
        display: flex;
        flex-direction: column;
    }

    .skip-query {
        display:inline-block;
        cursor:pointer;
        color:#c0e6ff;
        margin-top:10px;
        text-decoration: underline;
    }
}