
//= Globals
//============================

@import 'globals/variables';
@import 'globals/mixins/mixins';
@import 'globals/icon-fonts';
@import 'globals/reset';
@import 'animations/animate';


//= Components
//============================

// @import 'components/Downloads/downloads';
@import 'components/uploads/uploads';
@import 'components/queries/queries';
@import 'components/responseCard/responseCard';
@import 'components/annotation/annotation';
@import 'components/queryCard/queryCard';
@import 'components/button/button';
@import 'components/systemSelector/systemSelector';
@import 'components/header/header';
@import 'components/accuracyPopUp/accuracyPopUp';
@import 'components/app/app';
