
.scale-up {
    animation: scale .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
    transform: scale(.5);
    -webkit-animation: scale .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: scale(.5);
    -webkit-transform-origin: 50% 50%;
    -ms-transform: scale(.5);
    -ms-transform-origin: 50% 50%;
}

.scale-down {
    animation: scale-down .2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: scale(1);
    transform-origin: 50% 50%;
    animation-delay: .5s;
    -webkit-animation: scale-down .2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-delay: .5s;
    -ms-transform: scale(1);
    -ms-animation-delay: .5;
    -ms-transform-origin: 50% 50%;
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: cubic-bezier(1, .03, 1, .44);
        animation-timing-function: cubic-bezier(1, .03, 1, .44);
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: cubic-bezier(1, .03, 1, .44);
        animation-timing-function: cubic-bezier(1, .03, 1, .44);
    }
}



@keyframes scale-down {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation-timing-function: cubic-bezier(1, .03, 1, .44);
        animation-timing-function: cubic-bezier(1, .03, 1, .44);
    }
}

@-webkit-keyframes scale-down {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-animation-timing-function: cubic-bezier(1, .03, 1, .44);
        animation-timing-function: cubic-bezier(1, .03, 1, .44);
    }
}
