
*:focus {outline:none !important;}

* {
    z-index:inherit;
}

.overlay{
    z-index:-1;
    position:fixed;
    width:100vw;
    height:100vh;
    top: -0;
    left: -0;
    opacity:0.2;
    background-color: black;
}

.calendar-component-wrapper {

    $top-row-height: 222;
    $dropdown-width: 300;
    $dropdown-height: 35;
    $component-padding:20;
    $calendar-component-width: 700;

    z-index: 2;
    display: flex;
    align-self: flex-end;
    position:relative;

    .calendar-dropdown{
        cursor:pointer;
        background-color: white;
        width: $dropdown-width - $component-padding;
        padding: 0 $component-padding;
        height: $dropdown-height;
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom:10px;
        .icon{
            font-size:22px;
            color:$blue-dark;
        }
    }

    .calendar-component{

        box-shadow:1px 1px 5px 5px rgba(100,100,100,0.1);
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        position:absolute;
        top: $dropdown-height + 5;
        right:0;
        padding: $component-padding;
        background-color: $blue-light;

        &::after{
            $triangle-height:20;
            $triangle-side:10;

            position: absolute;
            top: - $triangle-height + 3;
            right: $component-padding + 1;

            content:"\25b2";
            color:$blue-light;
            font-size:$triangle-height;
            transform:scaleX(1.2);
            text-shadow: 0px -6px 5px rgba(100,100,100,0.1);
        }

        .clickable{
            cursor:pointer;
            display:flex;
            justify-content:center;
            align-items:center;
            background-color:white;

            &:hover{
                background-color: black;
                color:white;
            }
        }



        .calendar-component-left{
            margin-right:15px;
            width:470px;
            display:flex;
            flex-direction: column;
            .calendar-component-left-top{
                height:$top-row-height;
                display:flex;
                justify-content: space-between;
                margin-bottom:10px;
           }

           .calendar-component-left-bottom{
                .submit-button{
                    margin:auto;
                    height:30px;
                    width:100px;
                }
           }
        }

        .calendar-component-right{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            height:$top-row-height;

            .button-container{
            display: flex;
            flex-direction: column;
            align-items:center;
            flex:1;
            margin-bottom:10px;
            justify-content: space-between;
                .time-range-button{
                    width:200px;
                    height:35px;
                }
            }
            .date-indicator-container{
                display:flex;
                justify-content: space-between;
                text-align:center;

                .date-indicator{
                    display:flex;
                    flex-direction: column;

                    .date{
                        cursor:pointer;
                        display: flex;
                        justify-content: center;
                        align-items:center;
                        border: 0;
                        width:90px;
                        height:30px;
                        text-align:center;
                        background-color:white;
                        padding:3px;
                    }

                    .active{
                        background-color: black;
                        color:white;
                    }

                    .invalid{
                        background-color: red;
                    }

                }
            }
        }


        .date-picker {
            display: flex;
            flex-direction: column;
            flex-flow: column;
            flex: 1 0 auto;
            max-width:230px;

        }
        .date-picker,
        .date-picker * {
            box-sizing: border-box;
        }
        .date-picker .dp-footer {
            flex-direction: row;
            flex-flow: row;
            flex-flow: row;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
        }
        .date-picker .dp-body {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            flex-flow: column;
            flex-flow: column;
            flex: 1;
        }
        .date-picker .dp-table {
            // width: 100%;
            // height: 100%;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            flex-flow: column;
            flex-flow: column;
            flex: 1;
        }
        .date-picker .dp-row {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            flex-flow: row;
            flex-flow: row;
            flex: 1;
        }
        .date-picker .dp-cell {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            flex-pack: center;
            justify-content: center;
            flex: 1;
        }
        .date-picker .dp-nav-table {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            flex-flow: row;
            flex-flow: row;
            flex: 1;
            width: 100%;
        }
        .date-picker .dp-nav-table .dp-cell {
            flex: 7;
        }
        .date-picker .dp-nav-table .dp-nav-cell {
            flex: 1;
        }
        .date-picker {
            overflow: hidden;
            background: #fff;
            font-size: 14px;
            // border: 1px solid #a8a8a8;
        }
        .date-picker .dp-table {
            // border-color: #a8a8a8;
        }
        .date-picker .dp-table .dp-row {
            // border-top: 1px solid #a8a8a8;
        }
        .date-picker .dp-table .dp-row:last-child {
            // border-bottom: 1px solid #a8a8a8;
        }
        .date-picker .dp-table .dp-cell {
            cursor: pointer;
            padding: 5px;
            background: inherit;
        }
        .date-picker .dp-table .dp-cell:not(:first-child) {
            // border-left: 1px solid #a8a8a8;
        }
        .date-picker .dp-table .dp-cell.dp-prev,
        .date-picker .dp-table .dp-cell.dp-next {
            color: #5c5c5c;
            background: inherit;
        }
        .date-picker .dp-table .dp-cell.dp-in-range {
            background: #e2f0ff;
        }
        .date-picker .dp-table .dp-cell:hover {
            color: white;
            font-weight: inherit;
            background: black;
        }
        .date-picker .dp-table .dp-cell.dp-disabled {
            cursor: default;
            color: #adadad;
            background: inherit;
        }
        .date-picker .dp-table .dp-cell.dp-value {
            color: white;
            font-weight: 500;
            background: black;
        }

        .date-picker .dp-table .dp-cell.dp-month {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .date-picker .dp-table .dp-cell.dp-week-day-name {
            font-weight: bold;
            cursor: default;
            background: inherit;
        }
        .date-picker .dp-footer {
            display:none;
            padding: 3px;
            flex-pack: center;
            justify-content: center;
            border-top-width: 0px;
        }
        .date-picker .dp-footer .dp-footer-selected,
        .date-picker .dp-footer .dp-footer-today {
            padding: 5px 15px;
            border-width: 1px;
            cursor: pointer;
        }
        .date-picker .dp-body {
            overflow: hidden;
        }
        .date-picker .dp-nav-view,
        .date-picker .dp-nav-cell,
        .date-picker .dp-week-day-name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            touch-callout: none;
            user-select: none;
        }
        .date-picker .dp-nav-view,
        .date-picker .dp-nav-cell {
            cursor: pointer;
        }
        .date-picker .dp-nav-cell {
            background: inherit;
        }
        .date-picker .dp-nav-cell:hover {
            background: #eee;
        }
        .date-picker .dp-nav-view {
            background: inherit;
        }
        .date-picker .dp-nav-view:hover {
            background: #eee;
        }
        .date-picker .dp-nav-table .dp-cell {
            border-top-width: 0px;
            border-bottom-width: 0px;
            padding: 8px;
            font-weight: bold;
        }
        .date-picker .dp-decade-view,
        .date-picker .dp-year-view,
        .date-picker .dp-month-view {
            touch-callout: none;
            user-select: none;
        }

    }
}