
.downloads{
    @include bounceInLeft;
    margin: 0 auto;
    // width: 960px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;

    .time_period{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        .percent-annotated{
            z-index: 1;
        }
    }

    .exportForm{
        display: flex;
        flex-direction: column;


        .check-wrapper{
            margin-bottom:10px;
            .check{
                    margin-right:10px;
            }
        }
        .button {
          font-size: 20px;
          background-color: #f9f9f9;
          border: 1px solid $blue-dark;
          color: $blue-dark;
          padding: 20px;
          cursor: pointer;
          font-weight: bold;
          text-decoration: none;
          transition: background 0.5s, color 0.5s; }

        .button:hover {
            background: $blue-dark;
            color: #f9f9f9;
        }
        .button:focus {
            outline: none;
        }

        .text-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom:10px;
            input{
                border:none;
            }
        }

    }
}



// .downloads {
//   // display: flex;
//   // flex-direction: column;
//   // justify-content: space-around;
//   // align-items: center;
//   width: 90%;
//   height: 80%;

//     .query-cal {
//       // display: flex;
//       // flex-direction: column;
//       // justify-content: space-around;
//       // // width: 24%;
//       // align-items: center;
//       // text-align: center;
//       z-index: 2;
//       p {
//         z-index: 1;
//       }
//     }

//     .buttons{
//       display: flex;
//       justify-content: space-between;
//       flex-direction: column;
//       align-items: center;
//       // width: 60%;
//       // height: 25%;

//         .checks{
//           display: flex;
//           justify-content: space-between;
//           flex-direction: column;
//           align-items: flex-start;

//             input.check + span {
//               position: absolute;
//               margin-left: 25px;
//               margin-top: -17px;
//             }

//             .check{
//               display: flex;
//               justify-content: space-between;
//               flex-direction: column;
//               align-items: flex-start;
//              }
//        }

//         .exportForm {
//           display: flex;
//           justify-content: space-between;
//           flex-direction: column;
//           padding: 20px;
//           width: 60%;
//           height: 100%;}

//         .button {
//           font-size: 20px;
//           background-color: #f9f9f9;
//           border: 1px solid #325c80;
//           color: #325c80;
//           padding: 20px;
//           cursor: pointer;
//           font-weight: bold;
//           text-decoration: none;
//           transition: background 0.5s, color 0.5s; }

//         .button:hover {
//             background: #325c80;
//             color: #f9f9f9; }
//         .button:focus {
//             outline: none; }
//     }

// }
