
$bg-color: #6d7777;
$blue-light:#c0e6ff;
$blue-dark:#0068B9;
$green: #8cd211;
$pale-orange: #ffa573;
$lavender: #4178be;
$gray: #777677;


// Viz Colors
//------------------------------------------
$watson-green : rgb(140,198,63);
$watson-navy-blue : rgb(0,25,52);
$watson-light-blue : rgb(0, 178, 239);

$watson-white: rgb(249,249,249);
$watson-light-gray: rgb(224, 224, 224);
$watson-gray: rgb(119, 118, 119);

$watson-black: rgb(18, 18, 18);
$watson-blue: rgb(50, 92, 128);
$watson-teal: rgb(0, 109, 93);
$watson-orange : rgb(215, 65, 8);

$watson-orange-accent: rgb(255, 120, 50);
$watson-teal-accent: rgb(0, 180, 160);
$watson-blue-accent: rgb(85, 150, 230);

$watson-font: 'Helvetica-Neue', Helvetica, 'Open Sans', Arial, 'Lucida Grande', sans-serif;

