
.response-card {
    @include bounceInRight;
    background-color: white;
    width:100%;
    margin-top: 5px;
    .card {
        padding: 40px;
        .heading {
            font-size: 14px;
            margin: 3px;
            color: lighten($gray, 0.5);
        }
        .answer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 25px;
            .topicTitle {
                font-size: 14px;
            }
            a {
                font-size: 12px;
            }

        }
        .user-question {
            color: #0080ff;
            font-style: italic;
        }
    }
}